@charset "utf-8";


body{
	background-color: #ffffff;
	font-family: HelveticaNeue;
	color: #000000;
	
}



h1{
    font-size: 25px; 
    
}


.box1 {
	
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  width: 150%;
  height: 150px;
	position: fixed;
	right: 0px;
	bottom: 500px;
	
}




.box2 {
	
  background-color: #000000;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  width: 150%;
  height: 5px;
	position: fixed;
	right: 0px;
	bottom: 500px;
	
}










.h1-image{
	width: 100px;
	height: 15px;
	position: fixed;
	top: 5px;






}


